.booktitle {
    font-size: 15px;
    background-color: darkgray;
    color: whitesmoke;
    padding: 3px 5px;
}
.booksubtitle {
    font-size: 13px;
    color : darkblue;
    border-width : 0px 0px 1px 5px;
    border-style : solid ;
    border-color : darkgray;
    padding: 0px 10px;
    margin-left: 20px;
}

.bookdata {
    margin-top: 10px;
    margin-left: 50px;
}

.bookInfo {
    position: relative;
}

.box {
    background-color: #efefef;
    position: absolute;
    padding: 10px;
    top: 70px;
    left: 400px;
}

.evaluation {
    margin-top: 30px;
}

fieldset {
    padding: 0px;
}

.evaluation>form>fieldset>legend {
    color: darkgray;
}

.evaluation>form>fieldset>input {
	display: none;
    margin-top: 0px;
}
.evaluation>form>fieldset>label{
	display: block;
	float: left;
	cursor: pointer;
	width: 150px;
	margin: 0;
	padding: 12px 5px;
	border-right: 1px solid #abb2b7;
	background: #bdc3c7;
	color: beige;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .2s;
    margin-right: 2px;
    margin-top: 0px;
}
.evaluation>form>fieldset>label:first-of-type{
	border-radius: 3px 0 0 3px;
}
.evaluation>form>fieldset>label:last-of-type{
	border-radius: 0 3px 3px 0;
}
.evaluation>form>fieldset>input[type="radio"]:checked + label {
	background-color: #a1b91d;
	color: #fff;
}
